<ul class="nav nav-tabs">
  <li><a href="#projects" data-toggle="tab">Projects</a></li>
  <li><a href="#teams" data-toggle="tab">Teams</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="projects">
    projects
  </div>
  <div class="tab-pane" id="teams">
    teams
  </div>
</div>
